models/rapidocr/**/*.onnx filter=lfs diff=lfs merge=lfs -text
models/rapidocr/**/*.txt -text
tauri-client/src-tauri/resources/rapidocr/**/*.exe filter=lfs diff=lfs merge=lfs -text
tauri-client/src-tauri/resources/rapidocr/**/*.dll filter=lfs diff=lfs merge=lfs -text
tauri-client/src-tauri/resources/rapidocr/**/*.pyd filter=lfs diff=lfs merge=lfs -text
tauri-client/src-tauri/resources/rapidocr/**/*.zip filter=lfs diff=lfs merge=lfs -text
